In [1]:
import pandas as pd


df = pd.read_csv('unemployment rate data.csv', skiprows=4)
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.6919,NaN,7.9145,NaN,NaN,11.1836,NaN,NaN,NaN,NaN
2,Angola,AGO,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,13.3759,15.8659,18.0548,17.193001,15.4176,13.6158,12.3038,11.4655,NaN,NaN
4,Andorra,AND,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
colleges = pd.read_csv('finisheddataset.csv')

countries = colleges['Country'].unique()

count = colleges['Country'].value_counts().nlargest(30).index

count

Index(['United States', 'Japan', 'United Kingdom', 'China', 'India', 'Brazil',
       'Spain', 'Italy', 'Germany', 'Russian Federation', 'Iran', 'Turkey',
       'France', 'Taiwan', 'Australia', 'South Korea', 'Canada', 'Egypt',
       'Chile', 'Poland', 'Czech Republic', 'Thailand', 'Mexico', 'Pakistan',
       'Malaysia', 'Romania', 'Netherlands', 'Portugal', 'Sweden',
       'South Africa'],
      dtype='object')

In [3]:
for country in count:
    if country in df['Country Name'].values:
        print("yes", sep = " ")
    else:
        print(country)

yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
Iran
yes
yes
Taiwan
yes
South Korea
yes
Egypt
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes

In [4]:
df[df['Country Name'] == 'Russian Federation']

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
200,Russian Federation,RUS,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.4363,5.4577,5.1601,5.5709,5.5588,5.2123,4.8459,4.4957,NaN,NaN

In [5]:
newdf = pd.DataFrame(columns = df.columns)

for country in count:
    newdf = newdf.append(df[df['Country Name']==country])
    
newdf

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
249,United States,USA,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,5.5,6.7,5.5,5.7,5.2,4.5,...,8.069400,7.374900,6.167500,5.280000,4.869200,4.3552,3.8956,3.6692,NaN,NaN
117,Japan,JPN,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,1.7,1.4,1.3,1.3,1.1,1.2,...,4.300000,4.000000,3.600000,3.400000,3.100000,2.8000,2.4000,2.4000,NaN,NaN
79,United Kingdom,GBR,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.884600,7.524200,6.109600,5.300300,4.809700,4.3300,3.9959,3.7372,NaN,NaN
38,China,CHN,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.100000,4.050000,4.100000,NaN,NaN,3.9000,3.8000,5.1500,NaN,NaN
107,India,IND,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.689800,NaN,NaN,NaN,NaN,NaN,5.3297,NaN,NaN,NaN
27,Brazil,BRA,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.185700,6.976400,6.661200,8.426700,11.599900,12.8224,12.3338,11.9333,NaN,NaN
68,Spain,ESP,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,24.787201,26.093599,24.441299,22.057301,19.634701,17.2236,15.2547,14.1042,NaN,NaN
114,Italy,ITA,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,10.654500,12.148700,12.682800,11.896000,11.688200,11.2106,10.6100,9.9514,NaN,NaN
53,Germany,DEU,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.379400,5.230600,4.980600,4.624200,4.121800,3.7455,3.3835,3.1391,NaN,NaN
200,Russian Federation,RUS,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.436300,5.457700,5.160100,5.570900,5.558800,5.2123,4.8459,4.4957,NaN,NaN
242,Turkey,TUR,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.149500,8.731900,9.879800,10.236000,10.838600,10.8192,10.8902,13.6655,NaN,NaN
75,France,FRA,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,9.400200,9.920600,10.292200,10.354000,10.038800,9.4049,9.0165,8.4434,NaN,NaN
11,Australia,AUS,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.223600,5.662000,6.076800,6.054200,5.709900,5.5911,5.2983,5.1600,NaN,NaN
33,Canada,CAN,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.291800,7.073600,6.914100,6.906500,6.998900,6.3397,5.8308,5.6626,NaN,NaN
37,Chile,CHL,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.659400,6.214000,6.664900,6.507600,6.738200,6.9581,7.2331,7.2903,NaN,NaN
188,Poland,POL,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,10.087700,10.325900,8.989800,7.501000,6.160800,4.8874,3.8455,3.2773,NaN,NaN
52,Czech Republic,CZE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.978200,6.952700,6.107900,5.046400,3.951400,2.8898,2.2433,2.0143,NaN,NaN
231,Thailand,THA,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.580000,0.248700,0.575600,0.596700,0.688000,0.8300,0.7655,0.7164,NaN,NaN
152,Mexico,MEX,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.887000,4.913900,4.809400,4.312700,3.859000,3.4196,3.2829,3.4828,NaN,NaN
182,Pakistan,PAK,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.953700,1.826800,3.565900,NaN,NaN,4.0832,NaN,NaN,NaN
167,Malaysia,MYS,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.100000,3.160000,2.880000,3.100000,3.440000,3.4100,3.3000,3.3100,NaN,NaN
199,Romania,ROU,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.793700,7.096000,6.802100,6.811800,5.901400,4.9269,4.1869,3.9117,NaN,NaN
174,Netherlands,NLD,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.820900,7.243000,7.415800,6.872000,6.006300,4.8386,3.8305,3.3799,NaN,NaN
192,Portugal,PRT,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,15.526800,16.183399,13.894100,12.444400,11.066200,8.8670,6.9934,6.4630,NaN,NaN
221,Sweden,SWE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.975700,8.052100,7.953500,7.431600,6.990000,6.7183,6.3649,6.8326,NaN,NaN
261,South Africa,ZAF,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,24.727200,24.561300,24.890100,25.149401,26.536501,27.0354,26.9062,28.4681,NaN,NaN

In [6]:
newdf = newdf.drop(['Country Code', 'Indicator Name', 'Indicator Code', 'Unnamed: 65'], axis = 1)
newdf

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
249,United States,5.5,6.7,5.5,5.7,5.2,4.5,3.8,3.8,3.6,...,8.949200,8.069400,7.374900,6.167500,5.280000,4.869200,4.3552,3.8956,3.6692,NaN
117,Japan,1.7,1.4,1.3,1.3,1.1,1.2,1.3,1.3,1.2,...,4.521000,4.300000,4.000000,3.600000,3.400000,3.100000,2.8000,2.4000,2.4000,NaN
79,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.037700,7.884600,7.524200,6.109600,5.300300,4.809700,4.3300,3.9959,3.7372,NaN
38,China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.100000,4.100000,4.050000,4.100000,NaN,NaN,3.9000,3.8000,5.1500,NaN
107,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.689800,NaN,NaN,NaN,NaN,NaN,5.3297,NaN,NaN
27,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.917000,7.185700,6.976400,6.661200,8.426700,11.599900,12.8224,12.3338,11.9333,NaN
68,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.390499,24.787201,26.093599,24.441299,22.057301,19.634701,17.2236,15.2547,14.1042,NaN
114,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.359000,10.654500,12.148700,12.682800,11.896000,11.688200,11.2106,10.6100,9.9514,NaN
53,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.824400,5.379400,5.230600,4.980600,4.624200,4.121800,3.7455,3.3835,3.1391,NaN
200,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.535500,5.436300,5.457700,5.160100,5.570900,5.558800,5.2123,4.8459,4.4957,NaN
242,Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.795900,8.149500,8.731900,9.879800,10.236000,10.838600,10.8192,10.8902,13.6655,NaN
75,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.811000,9.400200,9.920600,10.292200,10.354000,10.038800,9.4049,9.0165,8.4434,NaN
11,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.081100,5.223600,5.662000,6.076800,6.054200,5.709900,5.5911,5.2983,5.1600,NaN
33,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.511100,7.291800,7.073600,6.914100,6.906500,6.998900,6.3397,5.8308,5.6626,NaN
37,Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.344000,6.659400,6.214000,6.664900,6.507600,6.738200,6.9581,7.2331,7.2903,NaN
188,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.631700,10.087700,10.325900,8.989800,7.501000,6.160800,4.8874,3.8455,3.2773,NaN
52,Czech Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.711100,6.978200,6.952700,6.107900,5.046400,3.951400,2.8898,2.2433,2.0143,NaN
231,Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.660000,0.580000,0.248700,0.575600,0.596700,0.688000,0.8300,0.7655,0.7164,NaN
152,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.169800,4.887000,4.913900,4.809400,4.312700,3.859000,3.4196,3.2829,3.4828,NaN
182,Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.796000,NaN,2.953700,1.826800,3.565900,NaN,NaN,4.0832,NaN,NaN
167,Malaysia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.090000,3.100000,3.160000,2.880000,3.100000,3.440000,3.4100,3.3000,3.3100,NaN
199,Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.177400,6.793700,7.096000,6.802100,6.811800,5.901400,4.9269,4.1869,3.9117,NaN
174,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.977300,5.820900,7.243000,7.415800,6.872000,6.006300,4.8386,3.8305,3.3799,NaN
192,Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.677200,15.526800,16.183399,13.894100,12.444400,11.066200,8.8670,6.9934,6.4630,NaN
221,Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.804100,7.975700,8.052100,7.953500,7.431600,6.990000,6.7183,6.3649,6.8326,NaN
261,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.638901,24.727200,24.561300,24.890100,25.149401,26.536501,27.0354,26.9062,28.4681,NaN

In [7]:
newdf.to_csv('Unemploymentdata.csv')