In [1]:
# We are doing with 2020 dataset



import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim

In [2]:
colleges_data = pd.read_csv('projectdata.csv')
colleges_data.set_index('UniversityName', inplace = True)
colleges_data.tail()

,UniversityRank,Country,Total_Num_of_Students,StudentStaffRatio,Num_of_Intl_students,FemaletoMaleRatio,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,scores_citations_rank,scores_industry_income,scores_industry_income_rank,scores_international_outlook,scores_international_outlook_rank,subjects_offered
UniversityName,,,,,,,,,,,,,,,,,,,
Yuan Ze University,1001+,Taiwan,"8,188",19.7,7%,42 : 58,10.3–25.0,15220,18.8,1128,14.1,951,19.7,1226,50.1,381,30.9,1048,"Computer Science,Mathematics & Statistics,Elec..."
Yuriy Fedkovych Chernivtsi National University,1001+,Ukraine,"12,616",10.7,0%,57 : 43,10.3–25.0,15230,17.9,1206,7.7,1500,5.3,1512,33.4,1507,22.2,1304,"History, Philosophy & Theology,Agriculture & F..."
Zagazig University,1001+,Egypt,"156,270",24.4,2%,54 : 46,10.3–25.0,15240,13.7,1508,7.4,1516,42.3,809,33.4,1508,40.6,805,"Veterinary Science,Law,Civil Engineering,Polit..."
University of Zagreb,1001+,Croatia,"59,336",15.3,3%,59 : 41,10.3–25.0,15250,19.5,1060,13.2,1009,27.2,1076,40.3,663,34.3,963,"Biological Sciences,Psychology,Electrical & El..."
University of Žilina,1001+,Slovakia,"7,136",11.7,2%,34 : 66,10.3–25.0,15260,20.3,992,13.2,1010,26.4,1091,42.9,540,31.8,1023,"Computer Science,Civil Engineering,Mechanical ..."

In [3]:
colleges_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1526 entries, University of Oxford to University of Žilina
Data columns (total 19 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   UniversityRank                     1526 non-null   object
 1   Country                            1526 non-null   object
 2   Total_Num_of_Students              1526 non-null   object
 3   StudentStaffRatio                  1526 non-null   float64
 4   Num_of_Intl_students               1526 non-null   object
 5   FemaletoMaleRatio                  1453 non-null   object
 6   scores_overall                     1526 non-null   object
 7   scores_overall_rank                1526 non-null   int64
 8   scores_teaching                    1526 non-null   float64
 9   scores_teaching_rank               1526 non-null   int64
 10  scores_research                    1526 non-null   float64
 11  scores_research_rank               1526 non-null   int64
 12  scores_citations                   1526 non-null   float64
 13  scores_citations_rank              1526 non-null   int64
 14  scores_industry_income             1526 non-null   float64
 15  scores_industry_income_rank        1526 non-null   int64
 16  scores_international_outlook       1526 non-null   float64
 17  scores_international_outlook_rank  1526 non-null   int64
 18  subjects_offered                   1526 non-null   object
dtypes: float64(6), int64(6), object(7)
memory usage: 238.4+ KB

In [4]:
colleges_data.isna().sum()

UniversityRank                        0
Country                               0
Total_Num_of_Students                 0
StudentStaffRatio                     0
Num_of_Intl_students                  0
FemaletoMaleRatio                    73
scores_overall                        0
scores_overall_rank                   0
scores_teaching                       0
scores_teaching_rank                  0
scores_research                       0
scores_research_rank                  0
scores_citations                      0
scores_citations_rank                 0
scores_industry_income                0
scores_industry_income_rank           0
scores_international_outlook          0
scores_international_outlook_rank     0
subjects_offered                      0
dtype: int64

In [5]:
colleges_data['UniversityRank'] = [i+1 for i in range(colleges_data.shape[0])]

In [6]:
colleges_data.tail()

,UniversityRank,Country,Total_Num_of_Students,StudentStaffRatio,Num_of_Intl_students,FemaletoMaleRatio,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,scores_citations_rank,scores_industry_income,scores_industry_income_rank,scores_international_outlook,scores_international_outlook_rank,subjects_offered
UniversityName,,,,,,,,,,,,,,,,,,,
Yuan Ze University,1522,Taiwan,"8,188",19.7,7%,42 : 58,10.3–25.0,15220,18.8,1128,14.1,951,19.7,1226,50.1,381,30.9,1048,"Computer Science,Mathematics & Statistics,Elec..."
Yuriy Fedkovych Chernivtsi National University,1523,Ukraine,"12,616",10.7,0%,57 : 43,10.3–25.0,15230,17.9,1206,7.7,1500,5.3,1512,33.4,1507,22.2,1304,"History, Philosophy & Theology,Agriculture & F..."
Zagazig University,1524,Egypt,"156,270",24.4,2%,54 : 46,10.3–25.0,15240,13.7,1508,7.4,1516,42.3,809,33.4,1508,40.6,805,"Veterinary Science,Law,Civil Engineering,Polit..."
University of Zagreb,1525,Croatia,"59,336",15.3,3%,59 : 41,10.3–25.0,15250,19.5,1060,13.2,1009,27.2,1076,40.3,663,34.3,963,"Biological Sciences,Psychology,Electrical & El..."
University of Žilina,1526,Slovakia,"7,136",11.7,2%,34 : 66,10.3–25.0,15260,20.3,992,13.2,1010,26.4,1091,42.9,540,31.8,1023,"Computer Science,Civil Engineering,Mechanical ..."

In [7]:
colleges_data['Total_Num_of_Students'] = [x.replace(',','') for x in colleges_data['Total_Num_of_Students']]

In [8]:
colleges_data['Total_Num_of_Students'] = colleges_data['Total_Num_of_Students'].astype('int64')

In [9]:
colleges_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1526 entries, University of Oxford to University of Žilina
Data columns (total 19 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   UniversityRank                     1526 non-null   int64
 1   Country                            1526 non-null   object
 2   Total_Num_of_Students              1526 non-null   int64
 3   StudentStaffRatio                  1526 non-null   float64
 4   Num_of_Intl_students               1526 non-null   object
 5   FemaletoMaleRatio                  1453 non-null   object
 6   scores_overall                     1526 non-null   object
 7   scores_overall_rank                1526 non-null   int64
 8   scores_teaching                    1526 non-null   float64
 9   scores_teaching_rank               1526 non-null   int64
 10  scores_research                    1526 non-null   float64
 11  scores_research_rank               1526 non-null   int64
 12  scores_citations                   1526 non-null   float64
 13  scores_citations_rank              1526 non-null   int64
 14  scores_industry_income             1526 non-null   float64
 15  scores_industry_income_rank        1526 non-null   int64
 16  scores_international_outlook       1526 non-null   float64
 17  scores_international_outlook_rank  1526 non-null   int64
 18  subjects_offered                   1526 non-null   object
dtypes: float64(6), int64(8), object(5)
memory usage: 238.4+ KB

In [10]:
colleges_data[colleges_data['UniversityRank']==882]

,UniversityRank,Country,Total_Num_of_Students,StudentStaffRatio,Num_of_Intl_students,FemaletoMaleRatio,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,scores_citations_rank,scores_industry_income,scores_industry_income_rank,scores_international_outlook,scores_international_outlook_rank,subjects_offered
UniversityName,,,,,,,,,,,,,,,,,,,
Karlstad University,882,Sweden,8727,13.0,%,63 : 37,25.1–30.1,8820,16.9,1309,13.6,982,49.0,687,34.4,1212,38.2,872,"Medicine & Dentistry,Education,Biological Scie..."

In [11]:
colleges_data['Num_of_Intl_students'] = [x.replace('%','') for x in colleges_data['Num_of_Intl_students']]
colleges_data['Num_of_Intl_students'] = pd.to_numeric(colleges_data['Num_of_Intl_students'])
colleges_data[colleges_data['Num_of_Intl_students'].isna()]

,UniversityRank,Country,Total_Num_of_Students,StudentStaffRatio,Num_of_Intl_students,FemaletoMaleRatio,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,scores_citations_rank,scores_industry_income,scores_industry_income_rank,scores_international_outlook,scores_international_outlook_rank,subjects_offered
UniversityName,,,,,,,,,,,,,,,,,,,
Karlstad University,882,Sweden,8727,13.0,NaN,63 : 37,25.1–30.1,8820,16.9,1309,13.6,982,49.0,687,34.4,1212,38.2,872,"Medicine & Dentistry,Education,Biological Scie..."

In [12]:
colleges_data['Num_of_Intl_students'].fillna(0, inplace=True)

In [13]:
colleges_data['Num_of_Intl_students'] = [int(x*(y/100)) for x,y in zip(colleges_data['Total_Num_of_Students'],colleges_data['Num_of_Intl_students'])]
colleges_data.head()

,UniversityRank,Country,Total_Num_of_Students,StudentStaffRatio,Num_of_Intl_students,FemaletoMaleRatio,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,scores_citations_rank,scores_industry_income,scores_industry_income_rank,scores_international_outlook,scores_international_outlook_rank,subjects_offered
UniversityName,,,,,,,,,,,,,,,,,,,
University of Oxford,1,United Kingdom,20774,11.1,8517,46 : 54,95.6,10,91.3,5,99.6,1,98.0,37,68.7,189,96.4,24,"Geography,Medicine & Dentistry,Business & Mana..."
Stanford University,2,United States,16223,7.4,3731,44 : 56,94.9,20,92.2,3,96.7,6,99.9,14,90.1,75,79.5,200,"Sport Science,Medicine & Dentistry,Business & ..."
Harvard University,3,United States,21261,9.3,5315,49 : 51,94.8,30,94.4,1,98.8,3,99.4,22,46.8,421,77.7,218,"Chemical Engineering,Architecture,Psychology,G..."
California Institute of Technology,4,United States,2238,6.3,738,36 : 64,94.5,40,92.5,2,96.9,5,97.0,49,92.7,67,83.6,158,"General Engineering,Chemical Engineering,Civil..."
Massachusetts Institute of Technology,5,United States,11276,8.4,3833,39 : 61,94.4,50,90.7,6,94.4,8,99.7,17,90.4,73,90.0,96,"Mathematics & Statistics,Chemical Engineering,..."

In [14]:
colleges_data['Num_of_Intl_students'].isna().sum()

0

In [15]:
# Let's now fill the missing values in femaletomaleratio 

colleges_data['FemaletoMaleRatio'].fillna('1:1', inplace = True)

In [16]:
[x for x in colleges_data['FemaletoMaleRatio'] if ': 0' in x]

['100 : 0', '100 : 0', '100 : 0']

In [17]:
[x for x in colleges_data['FemaletoMaleRatio'] if '00 :' in x]

['100 : 0', '100 : 0', '100 : 0']

In [18]:
# We will create a new column as MALE TO FEMALE RATIO

colleges_data['maletofemaleratio'] = [int(x.split(':')[1])/int(x.split(':')[0]) for x in colleges_data['FemaletoMaleRatio']]

colleges_data = colleges_data.drop('FemaletoMaleRatio', axis = 1)

colleges_data.head()

,UniversityRank,Country,Total_Num_of_Students,StudentStaffRatio,Num_of_Intl_students,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,scores_citations_rank,scores_industry_income,scores_industry_income_rank,scores_international_outlook,scores_international_outlook_rank,subjects_offered,maletofemaleratio
UniversityName,,,,,,,,,,,,,,,,,,,
University of Oxford,1,United Kingdom,20774,11.1,8517,95.6,10,91.3,5,99.6,1,98.0,37,68.7,189,96.4,24,"Geography,Medicine & Dentistry,Business & Mana...",1.173913
Stanford University,2,United States,16223,7.4,3731,94.9,20,92.2,3,96.7,6,99.9,14,90.1,75,79.5,200,"Sport Science,Medicine & Dentistry,Business & ...",1.272727
Harvard University,3,United States,21261,9.3,5315,94.8,30,94.4,1,98.8,3,99.4,22,46.8,421,77.7,218,"Chemical Engineering,Architecture,Psychology,G...",1.040816
California Institute of Technology,4,United States,2238,6.3,738,94.5,40,92.5,2,96.9,5,97.0,49,92.7,67,83.6,158,"General Engineering,Chemical Engineering,Civil...",1.777778
Massachusetts Institute of Technology,5,United States,11276,8.4,3833,94.4,50,90.7,6,94.4,8,99.7,17,90.4,73,90.0,96,"Mathematics & Statistics,Chemical Engineering,...",1.564103

In [19]:
colleges_data.isna().sum()

UniversityRank                       0
Country                              0
Total_Num_of_Students                0
StudentStaffRatio                    0
Num_of_Intl_students                 0
scores_overall                       0
scores_overall_rank                  0
scores_teaching                      0
scores_teaching_rank                 0
scores_research                      0
scores_research_rank                 0
scores_citations                     0
scores_citations_rank                0
scores_industry_income               0
scores_industry_income_rank          0
scores_international_outlook         0
scores_international_outlook_rank    0
subjects_offered                     0
maletofemaleratio                    0
dtype: int64

In [20]:
colleges_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1526 entries, University of Oxford to University of Žilina
Data columns (total 19 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   UniversityRank                     1526 non-null   int64
 1   Country                            1526 non-null   object
 2   Total_Num_of_Students              1526 non-null   int64
 3   StudentStaffRatio                  1526 non-null   float64
 4   Num_of_Intl_students               1526 non-null   int64
 5   scores_overall                     1526 non-null   object
 6   scores_overall_rank                1526 non-null   int64
 7   scores_teaching                    1526 non-null   float64
 8   scores_teaching_rank               1526 non-null   int64
 9   scores_research                    1526 non-null   float64
 10  scores_research_rank               1526 non-null   int64
 11  scores_citations                   1526 non-null   float64
 12  scores_citations_rank              1526 non-null   int64
 13  scores_industry_income             1526 non-null   float64
 14  scores_industry_income_rank        1526 non-null   int64
 15  scores_international_outlook       1526 non-null   float64
 16  scores_international_outlook_rank  1526 non-null   int64
 17  subjects_offered                   1526 non-null   object
 18  maletofemaleratio                  1526 non-null   float64
dtypes: float64(7), int64(9), object(3)
memory usage: 238.4+ KB

In [21]:
colleges_data['scores_overall'] = [((float(x[:4])+ float(x[5:]))/2) if (len(x)>4) else float(x) for x in colleges_data['scores_overall']]
colleges_data['scores_overall'].dtypes

dtype('float64')

In [22]:
colleges_data['scores_overall'].tail()

UniversityName
Yuan Ze University                                17.65
Yuriy Fedkovych Chernivtsi National University    17.65
Zagazig University                                17.65
University of Zagreb                              17.65
University of Žilina                              17.65
Name: scores_overall, dtype: float64

In [23]:
colleges_data.tail(20)

,UniversityRank,Country,Total_Num_of_Students,StudentStaffRatio,Num_of_Intl_students,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,scores_citations_rank,scores_industry_income,scores_industry_income_rank,scores_international_outlook,scores_international_outlook_rank,subjects_offered,maletofemaleratio
UniversityName,,,,,,,,,,,,,,,,,,,
Western Paraná State University (Unioeste),1507,Brazil,11935,9.2,0,17.65,15070,18.6,1145,13.1,1024,4.3,1518,36.4,944,15.9,1500,"Languages, Literature & Linguistics,Politics &...",0.923077
West University of Timişoara,1508,Romania,14027,19.5,701,17.65,15080,18.2,1177,9.3,1349,11.9,1414,34.4,1223,27.5,1151,"Communication & Media Studies,Psychology,Physi...",0.562500
Wrocław University of Environmental and Life Sciences,1509,Poland,8540,12.2,512,17.65,15090,16.8,1330,9.7,1310,21.7,1187,35.9,1000,24.0,1243,"Biological Sciences,Chemical Engineering,Civil...",0.470588
Wrocław University of Science and Technology,1510,Poland,26064,30.9,1042,17.65,15100,18.2,1178,16.0,834,16.3,1298,43.0,534,22.3,1295,"Chemical Engineering,Mechanical & Aerospace En...",1.941176
University of Wrocław,1511,Poland,22175,13.9,1330,17.65,15110,19.6,1049,11.6,1129,25.7,1103,33.7,1371,40.1,824,"Computer Science,Geography,Communication & Med...",0.449275
Xiangtan University,1512,China,31743,21.3,634,17.65,15120,15.0,1464,11.7,1124,45.1,764,37.7,830,21.4,1332,"Physics & Astronomy,Economics & Econometrics,E...",0.886792
Yamagata University,1513,Japan,8905,8.6,178,17.65,15130,22.1,855,11.9,1105,17.3,1273,50.0,386,24.0,1244,"Physics & Astronomy,Electrical & Electronic En...",1.857143
Yamaguchi University,1514,Japan,10693,10.9,641,17.65,15140,21.4,916,12.3,1074,14.1,1353,42.2,572,27.3,1154,"Computer Science,Law,General Engineering,Geogr...",1.702703
University of Yamanashi,1515,Japan,4692,6.4,187,17.65,15150,24.5,715,11.2,1173,23.4,1148,36.1,977,22.2,1302,"Civil Engineering,General Engineering,Mechanic...",2.125000
Yanshan University,1516,China,35554,16.4,355,17.65,15160,17.2,1275,11.9,1107,17.4,1270,51.3,352,16.7,1481,"Architecture,Physics & Astronomy,Economics & E...",1.564103
Yarmouk University,1517,Jordan,33270,28.8,2994,17.65,15170,22.0,863,9.1,1373,8.7,1471,34.3,1241,47.2,649,Politics & International Studies (incl Develop...,0.612903
Yazd University,1518,Iran,14289,30.1,142,17.65,15180,19.5,1059,14.1,950,16.8,1284,35.3,1071,18.2,1439,"Physics & Astronomy,Mathematics & Statistics,C...",0.724138
Yeditepe University,1519,Turkey,19415,35.2,388,17.65,15190,17.6,1233,11.8,1114,10.6,1435,68.2,192,21.5,1328,Politics & International Studies (incl Develop...,0.818182
Yıldız Technical University,1520,Turkey,34336,36.8,1716,17.65,15200,18.0,1200,24.9,503,21.1,1197,52.8,338,22.2,1303,"Electrical & Electronic Engineering,Art, Perfo...",1.500000
Yokohama National University,1521,Japan,9859,12.4,690,17.65,15210,21.9,872,16.9,792,14.8,1334,50.5,370,28.2,1126,"Business & Management,Physics & Astronomy,Elec...",2.448276
Yuan Ze University,1522,Taiwan,8188,19.7,573,17.65,15220,18.8,1128,14.1,951,19.7,1226,50.1,381,30.9,1048,"Computer Science,Mathematics & Statistics,Elec...",1.380952
Yuriy Fedkovych Chernivtsi National University,1523,Ukraine,12616,10.7,0,17.65,15230,17.9,1206,7.7,1500,5.3,1512,33.4,1507,22.2,1304,"History, Philosophy & Theology,Agriculture & F...",0.754386
Zagazig University,1524,Egypt,156270,24.4,3125,17.65,15240,13.7,1508,7.4,1516,42.3,809,33.4,1508,40.6,805,"Veterinary Science,Law,Civil Engineering,Polit...",0.851852
University of Zagreb,1525,Croatia,59336,15.3,1780,17.65,15250,19.5,1060,13.2,1009,27.2,1076,40.3,663,34.3,963,"Biological Sciences,Psychology,Electrical & El...",0.694915
University of Žilina,1526,Slovakia,7136,11.7,142,17.65,15260,20.3,992,13.2,1010,26.4,1091,42.9,540,31.8,1023,"Computer Science,Civil Engineering,Mechanical ...",1.941176

In [27]:
subjects = colleges_data['subjects_offered'][1].split(',')
subjects

['Sport Science',
 'Medicine & Dentistry',
 'Business & Management',
 'Chemistry',
 'Languages',
 ' Literature & Linguistics',
 'Electrical & Electronic Engineering',
 'Veterinary Science',
 'Archaeology',
 'Mechanical & Aerospace Engineering',
 'Politics & International Studies (incl Development Studies)',
 'History',
 ' Philosophy & Theology',
 'Physics & Astronomy',
 'Architecture',
 'Communication & Media Studies',
 'Sociology',
 'Psychology',
 'Biological Sciences',
 'Geology',
 ' Environmental',
 ' Earth & Marine Sciences',
 'Education',
 'Other Health',
 'Civil Engineering',
 'Economics & Econometrics',
 'General Engineering',
 'Art',
 ' Performing Arts & Design',
 'Chemical Engineering',
 'Law',
 'Mathematics & Statistics',
 'Computer Science',
 'Accounting & Finance']

In [34]:
colleges_data.to_csv('finisheddataset.csv', index = True)

In [35]:
df = pd.read_csv('finisheddataset.csv')
df.head()

,UniversityName,UniversityRank,Country,Total_Num_of_Students,StudentStaffRatio,Num_of_Intl_students,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,scores_citations_rank,scores_industry_income,scores_industry_income_rank,scores_international_outlook,scores_international_outlook_rank,subjects_offered,maletofemaleratio
0,University of Oxford,1,United Kingdom,20774,11.1,8517,95.6,10,91.3,5,99.6,1,98.0,37,68.7,189,96.4,24,"Geography,Medicine & Dentistry,Business & Mana...",1.173913
1,Stanford University,2,United States,16223,7.4,3731,94.9,20,92.2,3,96.7,6,99.9,14,90.1,75,79.5,200,"Sport Science,Medicine & Dentistry,Business & ...",1.272727
2,Harvard University,3,United States,21261,9.3,5315,94.8,30,94.4,1,98.8,3,99.4,22,46.8,421,77.7,218,"Chemical Engineering,Architecture,Psychology,G...",1.040816
3,California Institute of Technology,4,United States,2238,6.3,738,94.5,40,92.5,2,96.9,5,97.0,49,92.7,67,83.6,158,"General Engineering,Chemical Engineering,Civil...",1.777778
4,Massachusetts Institute of Technology,5,United States,11276,8.4,3833,94.4,50,90.7,6,94.4,8,99.7,17,90.4,73,90.0,96,"Mathematics & Statistics,Chemical Engineering,...",1.564103